<div class="header">
    <div class="headerName">
        <h1><a href="/">Candy Shop Land</a></h1>
    </div>
    <div class="status">
        <h3>Status</h3>
        <p>Please create a shop first!</p>
    </div>
    <div class="clear"></div>
</div>