<div class="mainContent">
    <div class="header">
        <h1>Manage Shops</h1>

        <nav class="header-nav">
            <ul class="navButtons">
                <li><a href="#">Manage Inventory</a></li>
                <li><a href="#">Manage Shops</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>
</div>