<div>
    <div class="header">
        <h1>Welcome to the Candy Shop</h1>
        <p>This phenomenal application allows you to create up to a thousand candy shops. 
        Our new features enhances the management of inventories.</p>
    </div>
    <div class="btnNext">
        <%= button_to "Next", new_candy_shop_path, :method => :get %>
    </div>
</div>

