// Place all the styles related to the candyShops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    margin:0;
}
.header{
    background-color: lightgrey;
    margin:0;   
}
.headerName{
    width: 500px;
    margin-right:0;
    float:left;
}
.headerName h1{
    color:rgb(107, 9, 9);
    margin:0;
}
.headerName h2{
    font-weight:normal;
}
.status{
    float:right;
}
.shopNav{
    float:left;
    margin:20px 20px;
    border: 1px solid grey;
    border-radius: 10px;
    width:240px;
    min-height:200px;
    padding:20px;
}
.shopNav li{
    list-style: none;
}
.shopNav a{
    text-decoration: none;
}
.actionBtns{
    float:right;
    border: 1px solid grey;
    border-radius: 10px;
    width:240px;
    min-height: 200px;
    padding:20px;
    margin:20px 20px;
    text-align: center;
}
.btns {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding:10px;
    font-size:18px;
}
.btns[disabled]{
  background-color:grey;
}
.clear{
    clear:both;
}
.newMainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    width:500px;
}
.newLabel{
    font-size: 24px;
}
.shelfSection{
    float:left;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 2px 2px 2px lightgrey;
}
.shelfSection h2{
    text-align: center;
    margin:10px;
}
.shelfContainer{
    display:flex;
    border: 1px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 150px;
}

.shelfBox{
    border: 1px solid blue;
}
.unsCandiesSection{
    float:right;
    margin-right:20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 2px 2px 2px lightgrey;
}
.unsCandiesSection h2{
    text-align: center;
    margin:10px;
}
.unsCandiesContainer{
    display:flex;
    border: 1px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 150px;
}
.candyBox{
    border: 1px solid blue;
}
