// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    margin:0;
}
.header{
    background-color: lightgrey;
    margin:0;
}
.header h1{
    margin:0;
}
.header h2{
    font-weight:normal;
}
.shopNav{
    float:left;
    margin:20px 20px;
    border: 1px solid grey;
    border-radius: 10px;
    width:240px;
    min-height:200px;
    padding:20px;
}
.shopNav li{
    list-style: none;
}
.shopNav a{
    text-decoration: none;
}
.actionBtns{
    float:right;
    border: 1px solid grey;
    border-radius: 10px;
    width:240px;
    min-height: 200px;
    padding:20px;
    margin:20px 20px;
    text-align: center;
}
.btns{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:200px;
    height:75px;
    font-size:18px;
}
.clear{
    clear:both;
}